@import '~/src/scss/index.scss';

.basic-modal {
	background-color: $background-primary !important;
	border-radius: 15px !important;
	-webkit-border-radius: 15px !important;
	-moz-border-radius: 15px !important;
	-ms-border-radius: 15px !important;
	-o-border-radius: 15px !important;
	.header {
		display: flex !important;
		align-items: center;
		justify-content: space-between;
		background-color: transparent !important;
		padding: 10px 5px !important;
		border-bottom: 0 !important;

		> span {
			font-style: 18px;
		}
	}

	.content {
		background-color: transparent !important;
	}
}